
h2 {
    font-weight: 300;
    text-align: center;}
    


.post_form {
    position: relative;
    float: left;
    margin-top: 6rem;
    background: #f3f3f3;
    border: 3px solid #ddd;
    border-radius: 10px;
    padding: 5rem;
    margin: 5rem 0 5rem 0
}


form label {
    float: left;
    font-size: .9rem;
    margin: 0;
    padding: 0
}

.right-label {
    float: center;
    cursor: pointer
}

input {
    width: 25rem;
    padding: .3rem;
    border-radius: 5px;
    outline: none;
    border: none
}

#sub_btn {
    display: block;
    width: 100%;
    padding: .3rem;
    border: none;
    background: #222;
    color: #fff;
    border-radius: 3px;
}

.post-btn:hover {
    background: #333;
    transition: all .5s
}


.post-btn{
    background: #0b776e;
    color: white;
    border-style: outset;
    border-color: #062521;
    height: 50px;
    width: 100px;
    font: bold15px arial,sans-serif;
    text-shadow: none;
    }

    