
form span {
    font-size: .8rem
}

#reset_pass_lbl {
    float: left
}

/* .form{
    width: rem;
} */
.register_form {
    width: 40rem;
    display: inline-block;
    background: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 2rem;
    margin: 2rem 0 1rem 0
    
}

